/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@font-face {
  font-family: 'grobold';
  src: url('../fonts/GROBOLD.ttf');
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.preload-disable {
	background:
    url(../img/locations/00000001.jpg) no-repeat -9999px -9999px,
    url(../img/locations/00000002.jpg) no-repeat -9999px -9999px,
    url(../img/locations/00000003.jpg) no-repeat -9999px -9999px,
    url(../img/locations/00000004.jpg) no-repeat -9999px -9999px,
    url(../img/locations/00000005.jpg) no-repeat -9999px -9999px,
    url(../img/locations/00000006.jpg) no-repeat -9999px -9999px,
    url(../img/locations/00000007.jpg) no-repeat -9999px -9999px,
    url(../img/locations/00000008.jpg) no-repeat -9999px -9999px,
    url(../img/locations/00000009.jpg) no-repeat -9999px -9999px,
    url(../img/locations/00000010.jpg) no-repeat -9999px -9999px,
    url(../img/locations/00000011.jpg) no-repeat -9999px -9999px,
    url(../img/locations/00000012.jpg) no-repeat -9999px -9999px,
    url(../img/locations/00000013.jpg) no-repeat -9999px -9999px,
    url(../img/locations/00000014.jpg) no-repeat -9999px -9999px,
    url(../img/locations/00000015.jpg) no-repeat -9999px -9999px,
    url(../img/locations/00000016.jpg) no-repeat -9999px -9999px,
    url(../img/locations/00000017.jpg) no-repeat -9999px -9999px,
    url(../img/locations/00000018.jpg) no-repeat -9999px -9999px,
    url(../img/locations/00000019.jpg) no-repeat -9999px -9999px,
    url(../img/locations/00000020.jpg) no-repeat -9999px -9999px,
    url(../img/locations/00000021.jpg) no-repeat -9999px -9999px,
    url(../img/locations/00000022.jpg) no-repeat -9999px -9999px,
    url(../img/locations/00000023.jpg) no-repeat -9999px -9999px,
    url(../img/locations/00000024.jpg) no-repeat -9999px -9999px,
    url(../img/locations/00000025.jpg) no-repeat -9999px -9999px,
    url(../img/locations/00000026.jpg) no-repeat -9999px -9999px,
    url(../img/locations/00000027.jpg) no-repeat -9999px -9999px,
    url(../img/locations/00000028.jpg) no-repeat -9999px -9999px,
    url(../img/locations/00000029.jpg) no-repeat -9999px -9999px,
    url(../img/locations/00000030.jpg) no-repeat -9999px -9999px,
    url(../img/locations/00000031.jpg) no-repeat -9999px -9999px,
    url(../img/locations/00000032.jpg) no-repeat -9999px -9999px,
    url(../img/locations/00000033.jpg) no-repeat -9999px -9999px,
    url(../img/locations/00000034.jpg) no-repeat -9999px -9999px,
    url(../img/locations/00000035.jpg) no-repeat -9999px -9999px,
    url(../img/locations/00000036.jpg) no-repeat -9999px -9999px,
    url(../img/locations/00000037.jpg) no-repeat -9999px -9999px,
    url(../img/locations/00000038.jpg) no-repeat -9999px -9999px,
    url(../img/locations/00000039.jpg) no-repeat -9999px -9999px;
}
#map {
  height: 100%;
}
h1,h2 {
  position: absolute;
  left:0;
  margin:0;
  text-shadow: 0 0 0.2em #000, 0 0 0.2em #000, 0 0 0.2em #000;
  color: #fff;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
h1 {
  top:10px;
  left:10px;
  font-size: 1.9em;
  font-style: italic;
  font-family: serif;
}
h2 {
  top: 32px;
  left: 30px;
  font-size: 1.3em;
}
h2 span {
  vertical-align: super;
  margin-left: 4px;
	text-transform: uppercase;
}
/* Contador de tiempo */
#timeleftbar {
  position: absolute;
  top:0;
  left:0;
  width:100%;
  background-color: #888;
  height: 2px;
  -webkit-box-shadow: 0 1px 2px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0 1px 2px 0px rgba(0,0,0,0.75);
  box-shadow: 0 1px 2px 0px rgba(0,0,0,0.75);
  opacity: 1;
  transition:all 0.2s linear;
  transition-delay: 0.2s;
  visibility: visible;
}
#timeleftbar .bar {
  height:2px;
  background-color: #f00;
  margin: 0 auto;
  transition: width 25ms linear;
}
#timeleftbar.hide {
  opacity:0;
  visibility: hidden;
}
#timeleft {
  color: #fff;
  text-shadow: 0 0 0.2em #000, 0 0 0.2em #000, 0 0 0.2em #000;
  font-weight: bold;
  position: absolute;
  top: 0;
  margin-left: -50px;
  left:50%;
  padding:5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 2px ridge #fff;
  border-top:none;
  margin-top:2px;
  background-color: #13237B;
  box-sizing: border-box;
  font-size: 1.5em;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  -webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
  min-width: 100px;
  text-align: center;
  transition:all 0.3s ease-in;
  z-index: 10;
}
#timeleft.hide {
  transform: translateY(-50px);
}
/* Carrusel de fotos */
/* TODO: Animacion real de fotos deplazandose o rotando */
#carousel {
  position: absolute;
  top: inherit;
  left: inherit;
  bottom: 40px;
  right: 25%;
  width: 50%;
  transition: all 0.3s ease-in;
  height: 90%;
  padding-bottom: 0;
  opacity: 1;
}
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 1;
  visibility: visible;
  background: rgba(0, 0, 0, 0.75);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
#carousel.thumbnail + .overlay {
  opacity: 0;
  visibility: hidden;
}
@keyframes fadeIn {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#carousel .photo {
  width:100%;
  height: 100%;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
  transition: all 0.3s;
  position: absolute;
  bottom:0;
  box-sizing: border-box;
  border: 5px solid white;
  border-bottom-width: 10px;
  /*
  TODO: Trabajar con contain y mantener aspect ratio
  background-size: contain;
  */
  background-size: cover;
  background-position: center 25%;
  background-repeat: no-repeat;
}
#carousel .photo.left {
  transform: translateX(-105%);
  transform-origin: bottom right;
  opacity: 0.6;
  z-index: 3;
  cursor: pointer;
}
#carousel .photo.left:hover, #carousel .photo.right:hover,
#carousel.thumbnail .photo.left:hover, #carousel.thumbnail .photo.right:hover {
  opacity: 0.8;
}
#carousel .photo.central {
  z-index: 5;
  cursor: zoom-out;
}
#carousel .photo.right {
  transform: translateX(105%);
  transform-origin: bottom left;
  opacity: 0.6;
  z-index: 4;
  cursor: pointer;
}
#carousel.thumbnail {
  top: inherit;
  left: inherit;
  bottom: 40px;
  right: 70px;
  width: 13%;
}
#carousel.thumbnail .photo {
  height:0;
  padding-bottom: 100%;
  background-size: cover;
}
#carousel.thumbnail .photo.left {
  transform: rotate(-5deg) translateX(-20px);
  transform-origin: bottom right;
  opacity: 0.6;
  z-index: 3;
  cursor: pointer;
}
#carousel.thumbnail .photo.central {
  z-index: 5;
  cursor: zoom-in;
}
#carousel.thumbnail .photo.right {
  transform: rotate(5deg) translateX(20px);
  transform-origin: bottom left;
  opacity: 0.6;
  z-index: 4;
  cursor: pointer;
}
#carousel.hide {
  width: 0;
  height: 0;
  opacity: 0;
}
#carousel.hide .photo {
  border: 0;
}
/* Marcador "fosforito" de lugares encontrados */
.guessmarker {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 6;
  pointer-events: none;
  width: 100%;
  height: auto;
}
.guessmarker path {
  fill:none;
  stroke:#00ff00;
  stroke-width:3px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  stroke-opacity:1;
  stroke-dasharray: 194;
  stroke-dashoffset: 194;
 }
 #carousel .photo.central.found + .guessmarker path {
   animation: write 500ms 1 ease-out forwards;
 }
@keyframes write {
  0% {
    stroke-dashoffset: 194;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
/* Carteles de terminado o tiempo */
#carousel.hide ~ #gameendtext {
  visibility: visible;
}
#carousel.hide ~ #gameendtext .content {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  -webkit-transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-delay: 0.3s;
}
#gameendtext {
  /* modal */
  position: fixed;
  top: 50%;
  left: 50%;
  visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
#gameendtext .content {
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
  opacity: 0;
  font-size: 7em;
  color: #fff;
  font-family: sans-serif;
  font-weight: bold;
  text-shadow: 0 0 0.2em #000, 0 0 0.2em #000, 0 0 0.2em #000;
}
/* Panel de resultados */
#carousel.hide ~ #gameresults {
  /* show dialog */
  visibility: visible;
}
#carousel.hide ~ #gameresults .content {
  /* show effect */
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  transition-delay: 2s;
}
#gameresults {
  /* modal */
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  max-width: 42em;
  min-width: 21em;
  height: auto;
  visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
#gameresults .content {
  /* diseno */
  color: #fff;
  background: #13237B;
  position: relative;
  border-radius: 3px;
  margin: 0 auto;
  border: 6px solid #fff;
  /* effect 1 */
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  opacity: 0;
  padding: 2%;
}
.row {
  text-align: center;
}
.star {
  opacity: 0.5;
  filter: grayscale(100%);
  width: 20%;
  transition: opacity 0.3s, filter 0.3s;
  margin: 0 5px;
}
.star.active {
  opacity: 1;
  filter: none;
}
#star1 {
  transition-delay: 2.3s;
}
#star2 {
  transition-delay: 2.6s;
  transform: scale(1.1);
}
#star3 {
  transition-delay: 2.9s;
}
#score {
  font-family: fantasy;
  font-size: 3em;
  font-weight: bold;
  display: block;
}
#performance {
  visibility: hidden;
  opacity: 0;
  display: block;
  transform: scaleX(0.2);
  transition: transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 1s;
  transition-delay: 4.5s;
}
#carousel.hide ~ #gameresults #performance {
  visibility: visible;
  opacity: 1;
  transform: scaleX(1);
}
.row.scores {
  margin-bottom: 10px;
}
div.row.buttons div {
  margin-top:5px;
}
#newGame {
  text-transform: uppercase;
  color: #fff;
  padding: 8px 16px;
  font-family: monospace;
  font-size: 1.3em;
  font-weight: bold;
  cursor: pointer;
  border-radius: 3px;
  filter: progid: DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFF08406', endColorstr='#FFF07506');
  background: #f08406;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiP…dpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==);
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f08406), color-stop(100%, #f07506));
  background: -webkit-linear-gradient(#f08406, #f07506);
  background: -moz-linear-gradient(#f08406, #f07506);
  background: -o-linear-gradient(#f08406, #f07506);
  background: linear-gradient(#f08406, #f07506);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4);
  border: 1px solid #ad5d15;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}
#whoIam {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 13px;
  background-color: #5e9e35;
  border: 0;
  padding: 6px 8px;
  height: 28px;
  vertical-align: bottom;
  border-radius: 4px;
}
#whoIam:hover {
  background-color: #46a50b;
}
.LI-profile-badge {
	position: absolute;
	top: 0;
	right: 0px;
	transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transform: translateX(280px);
	visibility: visible;
  opacity: 1;
}
.LI-profile-badge.hide {
	transform: translateX(0);
	visibility: hidden;
  opacity: 0;
}
.locations {
  overflow: hidden;
}
.locations .location {
  width: 48.5%;
  height: 0;
  padding-bottom: 35%;
  background-position: 50% 25%;
  background-size: cover;
  background-repeat: no-repeat;
  float:left;
  position: relative;
  box-sizing: border-box;
  border: 5px solid white;
  border-bottom-width: 10px;
  filter: grayscale(100%);
  margin-bottom: 10px;
  margin-right: 1%;
  margin-left: 0.5%;
  transform: scale(0.2);
  opacity: 0;
  transition: transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 1s;
  transform-origin: center;
}
.locations .location.found {
  filter: none;
  animation: topbot 6s infinite;
}
.locations .location.found:hover {
  animation-play-state: paused;
}
@keyframes topbot {
 0% {
   background-position: 50% 25%;
 }
 25% {
   background-position: 0% 0%;
 }
 50% {
   background-position: 100% 100%;
 }
 100% {
   background-position: 50% 25%;
 }
}
#location1 {
  transition-delay: 2s;
}
#location2 {
  transition-delay: 2.3s;
}
#location3 {
  transition-delay: 2.6s;
}
#location4 {
  transition-delay: 2.9s;
}

#carousel.hide ~ #gameresults .locations .location {
  transform: scale(1);
  opacity: 1;
}
.locations .location .name {
  display: none;
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-weight: bold;
  width: 100%;
  text-align: center;
  padding: 5px 0;
}
.locations .location.found .name {
  display: block;
}
/* Shake para errores */
.shake-horizontal{transform-origin:center center}@keyframes shake-horizontal{2%{transform:translate(3px, 0) rotate(0)}4%{transform:translate(9px, 0) rotate(0)}6%{transform:translate(7px, 0) rotate(0)}8%{transform:translate(-7px, 0) rotate(0)}10%{transform:translate(-9px, 0) rotate(0)}12%{transform:translate(7px, 0) rotate(0)}14%{transform:translate(2px, 0) rotate(0)}16%{transform:translate(0px, 0) rotate(0)}18%{transform:translate(-3px, 0) rotate(0)}20%{transform:translate(7px, 0) rotate(0)}22%{transform:translate(-3px, 0) rotate(0)}24%{transform:translate(-1px, 0) rotate(0)}26%{transform:translate(1px, 0) rotate(0)}28%{transform:translate(-5px, 0) rotate(0)}30%{transform:translate(-8px, 0) rotate(0)}32%{transform:translate(-4px, 0) rotate(0)}34%{transform:translate(2px, 0) rotate(0)}36%{transform:translate(-1px, 0) rotate(0)}38%{transform:translate(-8px, 0) rotate(0)}40%{transform:translate(4px, 0) rotate(0)}42%{transform:translate(-9px, 0) rotate(0)}44%{transform:translate(1px, 0) rotate(0)}46%{transform:translate(2px, 0) rotate(0)}48%{transform:translate(9px, 0) rotate(0)}50%{transform:translate(-6px, 0) rotate(0)}52%{transform:translate(7px, 0) rotate(0)}54%{transform:translate(1px, 0) rotate(0)}56%{transform:translate(7px, 0) rotate(0)}58%{transform:translate(-6px, 0) rotate(0)}60%{transform:translate(10px, 0) rotate(0)}62%{transform:translate(-5px, 0) rotate(0)}64%{transform:translate(4px, 0) rotate(0)}66%{transform:translate(-2px, 0) rotate(0)}68%{transform:translate(-2px, 0) rotate(0)}70%{transform:translate(-3px, 0) rotate(0)}72%{transform:translate(0px, 0) rotate(0)}74%{transform:translate(-7px, 0) rotate(0)}76%{transform:translate(-2px, 0) rotate(0)}78%{transform:translate(0px, 0) rotate(0)}80%{transform:translate(1px, 0) rotate(0)}82%{transform:translate(3px, 0) rotate(0)}84%{transform:translate(-7px, 0) rotate(0)}86%{transform:translate(7px, 0) rotate(0)}88%{transform:translate(10px, 0) rotate(0)}90%{transform:translate(6px, 0) rotate(0)}92%{transform:translate(9px, 0) rotate(0)}94%{transform:translate(10px, 0) rotate(0)}96%{transform:translate(-3px, 0) rotate(0)}98%{transform:translate(0px, 0) rotate(0)}0%,100%{transform:translate(0, 0) rotate(0)}} .shake-horizontal{animation-name:shake-horizontal;animation-duration:100ms;animation-timing-function:ease-in-out;animation-iteration-count:infinite}
.shake{transform-origin:center center}@keyframes shake{2%{transform:translate(-1.5px, .5px) rotate(.5deg)}4%{transform:translate(.5px, -1.5px) rotate(.5deg)}6%{transform:translate(-.5px, .5px) rotate(1.5deg)}8%{transform:translate(-.5px, -1.5px) rotate(1.5deg)}10%{transform:translate(-.5px, 1.5px) rotate(.5deg)}12%{transform:translate(2.5px, -1.5px) rotate(-.5deg)}14%{transform:translate(1.5px, .5px) rotate(-.5deg)}16%{transform:translate(1.5px, -1.5px) rotate(.5deg)}18%{transform:translate(2.5px, -.5px) rotate(.5deg)}20%{transform:translate(-.5px, 1.5px) rotate(.5deg)}22%{transform:translate(-.5px, -.5px) rotate(.5deg)}24%{transform:translate(2.5px, -1.5px) rotate(1.5deg)}26%{transform:translate(-.5px, 2.5px) rotate(-.5deg)}28%{transform:translate(2.5px, -1.5px) rotate(.5deg)}30%{transform:translate(-1.5px, -.5px) rotate(-.5deg)}32%{transform:translate(.5px, 1.5px) rotate(-.5deg)}34%{transform:translate(2.5px, .5px) rotate(.5deg)}36%{transform:translate(1.5px, -1.5px) rotate(.5deg)}38%{transform:translate(2.5px, 2.5px) rotate(.5deg)}40%{transform:translate(-.5px, -.5px) rotate(.5deg)}42%{transform:translate(2.5px, -1.5px) rotate(.5deg)}44%{transform:translate(1.5px, -.5px) rotate(1.5deg)}46%{transform:translate(.5px, 2.5px) rotate(.5deg)}48%{transform:translate(.5px, 1.5px) rotate(-.5deg)}50%{transform:translate(-1.5px, -.5px) rotate(-.5deg)}52%{transform:translate(.5px, 1.5px) rotate(-.5deg)}54%{transform:translate(-.5px, .5px) rotate(-.5deg)}56%{transform:translate(1.5px, -.5px) rotate(.5deg)}58%{transform:translate(.5px, 2.5px) rotate(1.5deg)}60%{transform:translate(-.5px, 1.5px) rotate(-.5deg)}62%{transform:translate(2.5px, .5px) rotate(1.5deg)}64%{transform:translate(-.5px, 2.5px) rotate(.5deg)}66%{transform:translate(.5px, -.5px) rotate(-.5deg)}68%{transform:translate(.5px, -.5px) rotate(-.5deg)}70%{transform:translate(-1.5px, 2.5px) rotate(1.5deg)}72%{transform:translate(-.5px, 1.5px) rotate(1.5deg)}74%{transform:translate(-.5px, 2.5px) rotate(1.5deg)}76%{transform:translate(2.5px, .5px) rotate(-.5deg)}78%{transform:translate(2.5px, 1.5px) rotate(1.5deg)}80%{transform:translate(-1.5px, -.5px) rotate(-.5deg)}82%{transform:translate(2.5px, -1.5px) rotate(1.5deg)}84%{transform:translate(-1.5px, .5px) rotate(-.5deg)}86%{transform:translate(2.5px, -1.5px) rotate(.5deg)}88%{transform:translate(1.5px, -.5px) rotate(.5deg)}90%{transform:translate(2.5px, 1.5px) rotate(.5deg)}92%{transform:translate(-.5px, -1.5px) rotate(-.5deg)}94%{transform:translate(-1.5px, 1.5px) rotate(.5deg)}96%{transform:translate(2.5px, 2.5px) rotate(1.5deg)}98%{transform:translate(1.5px, -1.5px) rotate(-.5deg)}0%,100%{transform:translate(0, 0) rotate(0)}}.shake{animation-name:shake;animation-duration:100ms;animation-timing-function:ease-in-out;animation-iteration-count:infinite}
.shake-freeze{animation-play-state:paused;animation-name:none}
/* overrides google maps api */
/* ocultar boton cerrar del infowindow */
.gm-style-iw + div {
  display: none;
}
/* --------------------------------- */

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1140px) {
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
